trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

variables:
  terraformVersion: '1.9.8'
  environment: 'ivan-test'
  backend_rg: 'tfstate-rg'
  backend_storage: 'tfstatestorage-ivan'
  backend_container: 'tfstate'
  backend_key: 'infra/terraform.tfstate'
  deploymentBranch: 'refs/heads/main'

stages:

- stage: Terraform_Plan
  displayName: "Terraform Init + Plan (PR)"
  condition: eq(variables['Build.Reason'], 'PullRequest')
  condition: succeeded()
  jobs:
  - job: Plan
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: '$(terraformVersion)'

    - task: AzureCLI@2
      displayName: 'Terraform Init + Plan'
      inputs:
        azureSubscription: 'AzureServiceConnection'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          cd terraform

          echo "Initializing Terraform backend..."
          terraform init \
            -backend-config="resource_group_name=$(backend_rg)" \
            -backend-config="storage_account_name=$(backend_storage)" \
            -backend-config="container_name=$(backend_container)" \
            -backend-config="key=$(backend_key)"

          echo "Planning..."
          terraform plan -out=tfplan

          echo "Exporting plan to artifact..."
          mkdir -p $(Build.ArtifactStagingDirectory)
          cp tfplan $(Build.ArtifactStagingDirectory)/tfplan
    - publish: $(Build.ArtifactStagingDirectory)
      artifact: terraform_plan


- stage: Terraform_Apply
  displayName: "Terraform Apply (main branch)"
  dependsOn: Terraform_Plan
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], variables['deploymentBranch']), ne(variables['Build.Reason'], 'PullRequest'))
  jobs:
  - job: Apply
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: '$(terraformVersion)'

    - download: current
      artifact: terraform_plan

    - task: AzureCLI@2
      displayName: 'Terraform Apply'
      inputs:
        azureSubscription: 'AzureServiceConnection'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          cd terraform

          echo "Reinitializing backend..."
          terraform init \
            -backend-config="resource_group_name=$(backend_rg)" \
            -backend-config="storage_account_name=$(backend_storage)" \
            -backend-config="container_name=$(backend_container)" \
            -backend-config="key=$(backend_key)"

          echo "Applying plan..."
          terraform apply -auto-approve $(Pipeline.Workspace)/terraform_plan/tfplan
