trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

variables:
- group: terraform-secrets
- name: 'terraformVersion'
  value: '1.9.8'
- name: 'environment'
  value: 'dev'
- name: 'backend_rg'
  value: 'tfstate-rg'
- name: 'backend_storage'
  value: 'tfstatestorageivan'
- name: 'backend_container'
  value: 'tfstate'
- name: 'backend_key'
  value: 'infra/terraform.tfstate'
- name: 'deploymentBranch'
  value: 'refs/heads/main'

stages:

- stage: Terraform_Plan
  displayName: "Terraform Init + Plan (PR)"
  condition: succeeded()
  jobs:
  - job: Plan
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: '$(terraformVersion)'

    - task: AzureCLI@2
      displayName: 'Terraform Init + Plan'
      inputs:
        azureSubscription: 'AzureServiceConnection'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          cd terraform

          echo "Initializing Terraform backend..."
          terraform init \
            -backend-config="resource_group_name=$(backend_rg)" \
            -backend-config="storage_account_name=$(backend_storage)" \
            -backend-config="container_name=$(backend_container)" \
            -backend-config="key=$(backend_key)"

          echo "Planning..."
          
          terraform plan \
            -var "admin_password=$(admin_password)" \
            -var "db_admin_password=$(db_admin_password)" \
            -out=tfplan

          echo "Exporting plan to artifact..."
          mkdir -p $(Build.ArtifactStagingDirectory)
          cp tfplan $(Build.ArtifactStagingDirectory)/tfplan
    - publish: $(Build.ArtifactStagingDirectory)
      artifact: terraform_plan


- stage: Terraform_Apply
  displayName: "Terraform Apply (main branch)"
  dependsOn: Terraform_Plan
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], variables['deploymentBranch']), ne(variables['Build.Reason'], 'PullRequest'))
  jobs:
  - job: Apply
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: '$(terraformVersion)'

    - download: current
      artifact: terraform_plan

    - task: AzureCLI@2
      displayName: 'Terraform Apply'
      inputs:
        azureSubscription: 'AzureServiceConnection'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          cd terraform

          echo "Reinitializing backend..."
          terraform init \
            -backend-config="resource_group_name=$(backend_rg)" \
            -backend-config="storage_account_name=$(backend_storage)" \
            -backend-config="container_name=$(backend_container)" \
            -backend-config="key=$(backend_key)"

          echo "Applying plan..."
          terraform apply -auto-approve $(Pipeline.Workspace)/terraform_plan/tfplan
